@model IEnumerable<Module>

@{
    ViewData["Title"] = "模块管理";
    Layout = "_Layout";
}

<div class="EditDiv" style="display:none">
    <form id="EditModule" method="post" enctype="multipart/form-data" asp-action="Edit">
        <input type="hidden" id="EditDivModuleId" name="ModuleId" />
        <table class="table-striped table">
            <thead>
                <tr>
                    <th>分类</th>
                    <th>名称:</th>
                    <th>路径:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><select class="form-control" id="EditDivType" name="ModuleTypeId" asp-items="@ViewBag.moduleType"></select> </td>
                    <td><input id="EditDivUame" name="name" type="text" class="form-control" /></td>
                    <td><input id="EditDivUrl" name="url" type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input name="files" type="file" class="" /></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <button class="btn btn-danger" style="width:120px" type="submit">提交</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="AddDiv" style="display:none">
    <form id="AddModule" method="post" enctype="multipart/form-data" asp-action="AddModule">
        <table class="table-striped table">
            <thead>
                <tr>
                    <th>分类</th>
                    <th>名称:</th>
                    <th>路径:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><select class="form-control" name="moduleType" asp-items="@ViewBag.moduleType"></select> </td>
                    <td><input name="name" type="text" class="form-control" /></td>
                    <td><input name="url" type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input name="files" type="file" class="" /></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <button class="btn btn-danger" style="width:120px" type="submit">提交</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="AddTypeDiv" style="display:none">
    <form id="AddModuleType" class="" method="post" asp-action="AddModuleType">
        <table class="table-striped table">
            <thead>
                <tr>
                    <th style="vertical-align:middle">名称:</th>
                    <th style="vertical-align:middle">备注:</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="name" class="form-control" /></td>
                    <td><input type="text" name="discription" class="form-control" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button class="btn btn-danger" style="width:120px" type="submit">提交</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="container-fluid">
    <form id="mainForm" class="form-inline" method="post">

        <div class="row" style="padding-top:10px;">
            <div class="col-sm-2 col-sm-offset-10">
                <button class="btn btn-danger" type="button" onclick="DivLayer(1,'添加分类',$('.AddTypeDiv'))">添加分类</button>
                <button class="btn btn-danger" type="button" onclick="DivLayer(2,'添加模块',$('.AddDiv'))">添加</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table-striped table">
                    <thead>
                        <tr>
                            <th>分类</th>
                            <th>名称</th>
                            <th>路径</th>
                            <th>图片</th>
                            <th class="text-right">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@string.Format("{1}-{0}",item.ModuleType.Name,item.ModuleType.Discription)</td>
                                <td>@item.Name</td>
                                <td>@item.Url</td>
                                <td>@item.Ico.Replace("/upload/module/","")</td>
                                <td class="text-right">
                                <a data-content-id="@item.ModuleId" data-content-type="@item.ModuleTypeId" data-content-name="@item.Name" data-content-url="@item.Url" class="btn btn-primary btn-xs btnEdit">修改</a>
                                <a data-content-id="@item.ModuleId" class="btn btn-danger btn-xs btnDel">删除</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </form>
</div>

@section scripts{
    <script type="text/javascript">
        
        $(function () {
            var options = {
                //target: '#output',          //把服务器返回的内容放入id为output的元素中
                //beforeSubmit: showRequest,  //提交前的回调函数
                success: showResponse,      //提交后的回调函数
                //url: url,                 //默认是form的action， 如果申明，则会覆盖
                type: 'post',               //默认是form的method（get or post），如果申明，则会覆盖
                dataType: 'json',           //html(默认), xml, script, json...接受服务端返回的类型
                //clearForm: true,          //成功提交后，清除所有表单元素的值
                //resetForm: true,          //成功提交后，重置所有表单元素的值
                timeout: 3000               //限制请求的时间，当请求大于3秒后，跳出请求
            }
            function showResponse(responseText, statusText) {
                console.log("responseText", responseText);
                console.log("statusText", statusText);
                var data = responseText;
                if (data.result == 1) {
                    layer.closeAll();
                    layer.msg(data.msg, {
                    time: 2000, end: function () {
                        location.href = location.href;
                    }
                    }
                    )
                } else {
                    layer.msg(data.msg);
                }
            };
            $("#AddModuleType").submit(function () { $(this).ajaxSubmit(options); return false; });
            $("#AddModule").submit(function () { $(this).ajaxSubmit(options); return false; });
            $("#EditModule").submit(function () { $(this).ajaxSubmit(options); return false; });

            $('.btnDel').on('click', function () { 
                console.log('btnDel')
                var id = $(this).attr('data-content-id');
                $.ajax({
                    url: '/Module/Delete',
                    type: 'POST',
                    async: true,
                    data: {
                        id: id
                    },
                    timeout: 5000,
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        console.log(xhr)
                        console.log('发送前')
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log(data)
                        console.log(textStatus)
                        console.log(jqXHR)                        
                        if (data.result == 1) {
                            layer.closeAll();
                            layer.msg(data.msg, {
                                time: 2000, end: function () {
                                    location.href = location.href;
                                }
                            }
                            )
                        } else {
                            layer.msg(data.msg);
                        }
                    },
                    error: function (xhr, textStatus) {
                        console.log('错误')
                        console.log(xhr)
                        console.log(textStatus)
                    },
                    complete: function () {
                        console.log('结束')
                    }
                })
            })

            $('.btnEdit').on('click', function () { 
                $('#EditDivModuleId').val($(this).attr('data-content-id'));
                $('#EditDivUame').val($(this).attr('data-content-name'));
                $('#EditDivUrl').val($(this).attr('data-content-url'));
                $('#EditDivType').val($(this).attr('data-content-type'));

                DivLayer(1, '编辑模块', $('.EditDiv'))
            })
        })

    </script>
}