@model Syllabus
@{
    ViewData["Title"] = "课程教学大纲维护";
}


@section styles{
    <style>
        .ck-editor__editable {
            min-height: 400px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="SyllabusId" />
                <div class="page-header">
                    <h1>@Model.Course.Name<small>@Model.Teacher.Name</small></h1>
                </div>

                <table class="table table-striped" style="margin-bottom:0">
                    <thead>
                        <tr>
                            <th>版本</th>
                            <th>学时</th>
                            <th>学分</th>
                            <th>新附件</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" asp-for="Version" /></td>
                            <td><input class="form-control" asp-for="Course.Period" disabled /></td>
                            <td><input class="form-control" asp-for="Course.Credit" disabled /></td>
                            <td><input type="file" name="files"/></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                附件： <a href="@Model.TeaProPath">@Model.TeaProPath</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="padding-bottom:15px;text-align:right">
                    <input type="button" class="btn btn-info btn-sm" style="width:100px" value="建议选用教材" />
                    <input type="button" class="btn btn-info btn-sm" style="width:100px" value="教学时数分配" />
                    <input type="button" class="btn btn-info btn-sm" style="width:100px" value="设置对应专业" />
                    <input type="button" class="btn btn-info btn-sm" style="width:100px" value="设置先修课程" />
                    <input type="submit" class="btn btn-danger btn-sm" style="width:100px" value="保存" />
                    <input type="submit" class="btn btn-danger btn-sm" style="width:100px" value="送审" />
                    <a asp-action="Details" asp-route-id="@Model.SyllabusId" class="btn btn-success btn-sm" style="width:100px">预览</a>
                </div>

                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">教学目标</a></li>
                    <li><a href="#tab2" data-toggle="tab">教学内容及要求</a></li>
                    <li><a href="#tab4" data-toggle="tab">课程实践教学内容</a></li>
                    <li><a href="#tab5" data-toggle="tab">课程评价方法</a></li>
                    <li><a href="#tab7" data-toggle="tab">教学方法建议</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="tab1"><textarea id="tab1-editor" asp-for="Tar"></textarea></div>
                    <div class="tab-pane fade" id="tab2"><textarea id="tab2-editor" asp-for="ConReq"></textarea></div>
                    <div class="tab-pane fade" id="tab4"><textarea id="tab4-editor" asp-for="PraCon"></textarea></div>
                    <div class="tab-pane fade" id="tab5"><textarea id="tab5-editor" asp-for="EvaWay"></textarea></div>
                    <div class="tab-pane fade" id="tab6"><textarea id="tab6-editor" ></textarea></div>
                    <div class="tab-pane fade" id="tab7"><textarea id="tab7-editor" asp-for="Pro"></textarea></div>
                </div>

                <div class="text-right" style="height:100px;">
                    
                </div>

            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/ckeditor/classic/ckeditor.js"></script>
    <script>
        $(function () { 
            ClassicEditor
                .create(document.querySelector('#tab1-editor'), {
                    ckfinder: {
                        uploadUrl: '/BaseData/Ckeditor'
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            ClassicEditor
                .create(document.querySelector('#tab2-editor'), {
                    ckfinder: {
                        uploadUrl: '/BaseData/Ckeditor'
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            ClassicEditor
                .create(document.querySelector('#tab4-editor'), {
                    ckfinder: {
                        uploadUrl: '/BaseData/Ckeditor'
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            ClassicEditor
                .create(document.querySelector('#tab5-editor'), {
                    ckfinder: {
                        uploadUrl: '/BaseData/Ckeditor'
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            ClassicEditor
                .create(document.querySelector('#tab6-editor'), {
                    ckfinder: {
                        uploadUrl: '/BaseData/Ckeditor'
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            ClassicEditor
                .create(document.querySelector('#tab7-editor'), {
                    ckfinder: {
                        uploadUrl: '/BaseData/Ckeditor'
                    }
                })
                .catch(error => {
                    console.log(error);
                });

            var iii = '@ViewBag.msg';
            if (iii != '')
            { 
                layer.msg(iii);
            }
        })
    </script>
}
