@model Dora.Core.PageList<Professional>

@{
    ViewData["Title"] = "诊改支撑平台";
    Layout = "_Layout";
}

<style>
    body .demo-class .layui-layer-title {
        background: #000;
        color: #fff;
        border: none;
    }

    body .imgbox {
        padding-bottom: 10px;
    }

        body .imgbox img {
            width: 100%;
        }

    body .col-lg-1 {
        padding: 10px;
    }

    .row1 > div > div {
        background: #ddd;
        height: 60px;
        padding-top: 8px;
        text-align: center;
    }
</style>



<div class="container-fluid">
    <form id="mainForm" class="form-inline" method="post">
        <div class="row" style="padding-top:10px;">
            <div class="col-lg-12">
                    <div class="form-group">
                        <p class="form-control-static">代码或名称</p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="searchKey" value="@ViewData["searchKey"]" id="searchKey" placeholder="code">
                    </div>
                    <button type="submit" class="btn btn-info">search</button>
               
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-striped table">
                    <thead>
                        <tr>
                            <th>专业代码</th>
                            <th>教学分院</th>
                            <th>专业名称</th>
                            <th>年限</th>
                            <th>创建时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.ProfessionalId</td>
                        <td>@item.Department.Name</td>
                        <td>@item.Name</td>
                        <td>@item.Year</td>
                        <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>


        <input type="hidden" name="Page" id="Page" value="@ViewBag.Page" />
        @Html.Raw(Dora.Core.Pager.Pager1(Context.Request.Path.Value, Model.CurrPage, Model.PageSize, Model.PageCount, Model.RecordCount))
    </form>
</div>


@section scripts{

}

