@model Dora.Core.PageList<Professional>

@{
    ViewData["Title"] = "专业管理";
}

<div class="container-fluid">
    <form id="mainForm" class="form-inline" method="post">
        <div class="row" style="padding:10px 0;">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">搜索条件</div>
                        <input type="text" class="form-control" name="searchKey" value="@ViewData["searchKey"]" id="searchKey" placeholder="代码或名称">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info">检索</button> 
                        </span>
                    </div>
                </div>

                

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-striped table">
                    <thead>
                        <tr>
                            <th>专业代码</th>
                            <th>年级</th>
                            <th>教学分院</th>
                            <th>专业名称</th>
                            <th>年限</th>
                            <th>创建时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProfessionalId</td>
                                <td>@item.Gread</td>
                                <td>@item.Department.Name</td>
                                <td>@item.Name</td>
                                <td>@item.Years</td>
                                <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <input type="hidden" name="Page" id="Page" value="@ViewBag.Page" />
        @Html.Raw(Dora.Core.Pager.Pager1(Context.Request.Path.Value, Model.CurrPage, Model.PageSize, Model.PageCount, Model.RecordCount))
    </form>
</div>


@section scripts{

}

