@model Dora.Core.PageList<PersonnelTraining>
<table class="table-striped table">
    <thead>
        <tr>
            <th>专业</th>
            <th>学制</th>
            @*<th>培养目标</th>
                <th>毕业要求</th>*@
            <th>录取年份</th>
            <th>创建时间</th>
            <th>使用状态</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Professional.Name</td>
                <td>@item.LenOfSch</td>
                @*<td>@item.TraObj</td>
                    <td>@item.GraReq</td>*@
                <td>@item.Year</td>
                <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td><span class="@((int)item.Status==0?"label label-danger":"label label-success")">@item.Status.ToString()</span></td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@item.PersonnelTrainingId" class="btn btn-info btn-xs" role="button">查看</a>
                    <a asp-action="Edit" asp-route-id="@item.PersonnelTrainingId" class="btn btn-primary btn-xs" role="button">编辑</a>
                    <a data-id="@item.PersonnelTrainingId" class="btn btn-danger btn-xs btn-delete" role="button">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" name="Page" id="Page" value="@ViewBag.Page" />
@Html.Raw(Dora.Core.Pager.Pager1(Context.Request.Path.Value, Model.CurrPage, Model.PageSize, Model.PageCount, Model.RecordCount))