@model Dora.Core.PageList<Infomation>

@{
    ViewData["Title"] = "信息管理";
    Layout = "_Layout";
}

<div class="container-fluid">
    <form id="mainForm" class="form-inline" method="post">
        <div class="row" style="padding-top:10px;">
            <div class="col-lg-10">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">标题</div>
                        <input type="text" class="form-control" name="searchKey" value="@ViewData["searchKey"]" id="searchKey" placeholder="标题">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">分类</div>
                        <select class="form-control" name="infomationType" asp-items="@ViewBag.infomationType"></select>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">search</button>
            </div>
            <div class="col-lg-2 text-right">
                <a class="btn btn-danger" asp-action="Create">添加信息</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-striped table">
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th>分类</th>
                            <th>时间</th>
                            <th class="text-right">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td><a asp-action="Details" asp-route-id="@item.InfomationId">@item.Title</a></td>
                                <td>@item.InfomationType</td>
                                <td>@item.CreateTime.ToString("yyyy-MM-dd")</td>
                                <td class="text-right">
                                    <a asp-action="Edit" asp-route-id="@item.InfomationId" class="btn btn-primary btn-xs">修改</a>
                                    <a asp-action="Delete" asp-route-id="@item.InfomationId" class="btn btn-danger btn-xs">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <input type="hidden" name="Page" id="Page" value="@ViewBag.Page" />
        @Html.Raw(Dora.Core.Pager.Pager1(Context.Request.Path.Value, Model.CurrPage, Model.PageSize, Model.PageCount, Model.RecordCount))
    </form>
</div>


@section scripts{

}

