@model Dora.Core.PageList<Dict>

@{
    ViewData["Title"] = "字典管理";
    Layout = "_Layout";
}

<div class="AddDiv" style="display:none">
    <form id="AddModule" method="post" enctype="multipart/form-data" asp-action="Create">
        <table class="table-striped table">
            <thead>
            <tr>
                <th>分类</th>
                <th>名称:</th>
                <th>路径:</th>
                <th>排序:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><select class="form-control" name="moduleType" asp-items="@ViewBag.type"></select> </td>
                <td><input name="name" type="text" class="form-control" /></td>
                <td><input name="url" type="text" class="form-control" /></td>
                <td><input name="index" value="1" type="number" class="form-control" /></td>
            </tr>
            <tr>
                <td colspan="4"><input name="files" type="file" class="" /></td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <button class="btn btn-danger" style="width:120px" type="submit">提交</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="container-fluid">
    <form id="mainForm" class="form-inline" method="post">

        <div class="row" style="padding-top:10px;">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchKey" value="@ViewData["searchKey"]" id="searchKey" placeholder="学号,姓名或班级">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info">检索</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <a class="btn btn-info" href="dictType">分类管理</a>
                <button class="btn btn-danger" type="button" onclick="DivLayer(1, '添加', $('.AddDiv'))">添加</button>
            </div>

        </div>

        <div class="row" style="margin-top:15px;">
            <div class="col-lg-12">
                <table class="table-striped table">
                    <thead>
                        <tr>
                            <th>类型</th>
                            <th>类型名称</th>
                            <th>字典key</th>
                            <th>字典值</th>
                            <th style="text-align: right">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Type</td>
                                <td>@item.DictType.name</td>
                                <td>@item.Key</td>
                                <td>@item.Value</td>
                               


                                <td style="text-align: right">
                                    <a data-content-key="@item.Key" data-content-type="@item.Type" class="btn btn-danger btn-xs btnDel">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" name="Page" id="Page" value="@ViewBag.Page" />
        @Html.Raw(Dora.Core.Pager.Pager1(Context.Request.Path.Value, Model.CurrPage, Model.PageSize, Model.PageCount, Model.RecordCount))
    </form>
</div>

@section scripts{
    <script>
        var options = {
            beforeSend: function() {
                $('#msgul').html('')
                layer.load(3, { shade: 0.8 });
            },
            uploadProgress: function(event, position, total, percentComplete) {
            },
            dataType: 'json',
            success: function(r) {
                layer.closeAll('loading');
                console.log(r)
                if (r.result == 1) {
                    console.log(1)
                    jQuery("#grid-table").trigger("reloadGrid");
                    if (r.data != null) {
                        console.log(2)
                        layer.msg(r.message + ",但是有重复数据");
                        for (var i = 0; i < r.data.length; i++)
                            $('#msgul').append(r.data[i])
                    } else {
                        console.log(3)
                        layer.msg(r.msg,
                            {
                                time: 2000,
                                end: function() {
                                    layer.closeAll();
                                    location.href = location.href;
                                }
                            })
                    }
                } else {
                    console.log(4)
                    var msg = r.msg;
                    layer.msg(msg);
                }
            },
            complete: function(xhr) {
            }
        }

        function AjaxForm1Submit() {
            $("#AjaxForm1").ajaxSubmit(options);
        }


        $(function() {
            $('.btnDel').on('click', function () {
                console.log('btnDel')
                var id = $(this).attr('data-content-id');

                layer.confirm('数据不可恢复，确认要删除吗？', {
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: '/User/Delete',
                        type: 'POST',
                        async: true,
                        data: {
                            id: id
                        },
                        timeout: 5000,
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            console.log(xhr)
                            console.log('发送前')
                        },
                        success: function (data, textStatus, jqXHR) {
                            console.log(data)
                            console.log(textStatus)
                            console.log(jqXHR)
                            if (data.result == 1) {
                                layer.closeAll();
                                layer.msg(data.msg, {
                                        time: 2000, end: function () {
                                            location.href = location.href;
                                        }
                                    }
                                )
                            } else {
                                layer.msg(data.msg);
                            }
                        },
                        error: function (xhr, textStatus) {
                            console.log('错误')
                            console.log(xhr)
                            console.log(textStatus)
                        },
                        complete: function () {
                            console.log('结束')
                        }
                    })
                }, function () {
                    return
                });
            })
        })
        
    </script>
}

